
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #222;
}

.container {
    width: 85%;
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #0a192f;
    color: white;
    padding: 60px 0;
    text-align: center;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.hero-text {
    margin-top: 15px;
    font-size: 16px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 50px 0;
}

h2 {
    color: #0a192f;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.project {
    margin-bottom: 25px;
}

footer {
    background-color: #0a192f;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}
